[Unit]
Description = Python Script
After = multi-user.target

[Service]
Type = simple
WorkingDirectory = /home/nvidia/inv/
ExecStart = /usr/bin/python3 speed.py
Restart = always

[Install]
WantedBy = multi-user.target
